@{
    ViewData["Title"] = "Cody's Hobby";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>The Beautiful Game</title>
    <link href="css/site.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<div class="text-center">
    <h1>THE BEAUTIFUL GAME</h1>
    <h3 style="color: saddlebrown;">My Hobby: Soccer</h3>

    <div class="row">
        <div class="col-md-6">
            <img src="~/team.jpeg" class="img-fluid" alt="Team Image" />
        </div>
        <div class="col-md-6">
            <img src="~/throw.jpeg" class="img-fluid" alt="Throw Image" />
        </div>
    </div>
    <p>I've played soccer since I was really young and I've loved playing throughout my whole life. I was like 4 years
        old when I started playing and I haven't stopped since. Some of my best friends have come through soccer. I was 
        blessed to be able to play for my High School team and a club team in Utah. We won the first state championship
        for Pleasant Grove High School 6a. The next year I won state cup with my club team for best in the state. Some of 
        my favoirte memories come from soccer and it's something that I want to share with more people.'</p>
    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <img src="~/pg.jpeg" class="img-fluid" alt="Team Image" />
        </div>
        <div class="col-md-6">
            <img src="~/rsl.jpeg" class="img-fluid" alt="Throw Image" />
        </div>
        <br />
        <br />
    <p>Not only have I been able to play a lot of soccer. I've also been able to be blessed with the opportunity to
        watch a lot of soccer. I love watching all types of soccer. Anywhere from local soccer, to watching European Soccer.
        Anytime I have the chance to play or watch soccer I'll do it. I also still play soccer on a fun
        rec team with my friends. </p>
        <br />
        <br />
        <br />
        <div></div>

</div>

